@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* layout */
#app {
  background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.main-logo{
  padding: 72px;
}

.cont-timer{
  width: 400px;
  height: 360px;
  background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* cont-timer */
.cont-timer .timer-title{
  border-bottom: 1px solid #3D538A;
  color: white;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 23px;
  margin-top: 25px;
  width: 312px;
  text-align: center;
}

.cont-timer .timer-time{
  display: flex;
  margin-top: 33px;
  padding: 0 58px;
  gap: 22px;
}

.timer-time .hours,
.timer-time .minutes,
.timer-time .seconds{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.hours .hour,
.minutes .minute,
.seconds .second{
  padding-bottom: 4px;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #A5B6EE;
}

.hours .btn-hour,
.minutes .btn-minute,
.seconds .btn-second{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.btn-hour .hour-time,
.btn-minute .minute-time,
.btn-second .second-time{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  font-size: 40px;
  color: white;

}


/* btns */
.btns{
  padding: 40px;
  display: flex;
  gap: 12px;
}

.btns .start,
.btns .reset{
  width: 112px;
  height: 48px;
  border-radius: 50px;
  background-color: #324577;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #617199;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  cursor: pointer;
}

.btns .start.on{
  background-color: #5180FF;
  color: white;
}
.btns .reset.on{
  background-color: #FB7099;
  color: white;
}